.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mt-5{
  margin-top: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.ml-10{
  margin-left: 10px;
}
.ml-40{
  margin-left: 40px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mb-10{
  margin-bottom: 10px;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

.w100p{
  width: 100%;
}

.font-norwester{
  font-family: norwester;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fb {
  font-weight: bold;
}

.ml-5 {
  margin-left: 5px !important;
}
